.collapse {
  display: flex;
  flex-direction: column;
}

.collapse li {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  height: 30px;
  background-color: #FF6060;
  border-radius: 5px;
  margin-top: 20px;
}

.collapse h2 {
  color: white;
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: 700;
}

.collapse button {
  margin-right: 5px;
  animation-fill-mode: forwards;
}

.collapse button:active {
  animation-name: rotate;
  animation-duration: 0.3s;
}

.collapse p {
  margin: 0;
  position: relative;
}

.show {
  display: block;
  transition: 0.5s all;
}

.display-block {
  display: block;
  padding-bottom: 50px;
}

.display-none {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.fa-chevron-up, .fa-chevron-down {
  font-size: 1rem;
  color: white;
}

@media (min-width: 768px) {

  .collapse li{
    height: 40px;
    margin-top: 25px;
  }

  .collapse h2 {
    font-size: 1.1rem;
  }

  .collapse button {
    margin-right: 10px;
  }

  .fa-chevron-up, .fa-chevron-down {
  font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {

  .collapse {
    margin: auto;
    width: 85%;
  }

  .collapse li{
    height: 50px;
    margin-top: 35px;
  }

  .collapse h2 {
    font-size: 1.5rem;
  }

  .collapse button {
    margin-right: 15px;
  }

  .fa-chevron-up, .fa-chevron-down {
    font-size: 1.5rem;
  }
}
