.carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 225px;
  align-items: center;
  margin: auto;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel button {
  position: absolute;
  color: white;
  font-size: 1.1rem;
}

.carousel button:last-child {
  right: 0px;
}

.carousel b {
  display: none;
}

@media (min-width: 768px) {

  .carousel {
    height: 320px;
  }

  .carousel button {
    font-size: 2.5rem;
  }

  .carousel button:not(:last-child) {
    left: 5px;
  }

  .carousel button:last-child {
    right: 5px;
  }

  .carousel b {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {

  .carousel {
    height: 415px;
  }

  .carousel button {
    font-size: 4rem;
  }

  .carousel button:not(:last-child) {
    left: 10px;
  }

  .carousel button:last-child {
    right: 10px;
  }

  .carousel b {
    font-size: 1.1rem;
  }
}
